[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ozymandias/Desktop/notes.txt]
row=3
col=0

[/home/ozymandias/Desktop/pijulius-picom.log]
row=5
col=0

[/home/ozymandias/Desktop/full-upgraded-27042054.log]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ozymandias]
row=2
col=0

